nodered flow.txt
[{"id":"3a9634e8.40d0dc","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"6cbc8c3c.805644","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"f19d6af3.b91178","type":"ui_group","z":"","name":"Default","tab":"6cbc8c3c.805644","order":1,"disp":true,"width":"6","collapse":false},{"id":"8063dc2f.99984","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f41040bb.6c9e3","type":"http request","z":"3a9634e8.40d0dc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://e110f3bc-b2e8-483b-9c09-7ebd72c72c1b-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":340,"y":180,"wires":[["4d027707.bbc5c8"]]},{"id":"4d027707.bbc5c8","type":"function","z":"3a9634e8.40d0dc","name":"Image","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":120,"wires":[["16cc1f60.a61cd1","87653a5c.fb91d8","95c080d.a5f498"]]},{"id":"16cc1f60.a61cd1","type":"debug","z":"3a9634e8.40d0dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":220,"wires":[]},{"id":"19c7b884.fa32b7","type":"http in","z":"3a9634e8.40d0dc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["f41040bb.6c9e3"]]},{"id":"95c080d.a5f498","type":"http response","z":"3a9634e8.40d0dc","name":"","statusCode":"","headers":{},"x":690,"y":380,"wires":[]},{"id":"a0781d62.26d32","type":"ui_button","z":"3a9634e8.40d0dc","name":"","group":"f19d6af3.b91178","order":6,"width":0,"height":0,"passthru":false,"label":"Get Image","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":180,"wires":[["f41040bb.6c9e3"]]},{"id":"87653a5c.fb91d8","type":"ui_template","z":"3a9634e8.40d0dc","group":"f19d6af3.b91178","name":"","order":5,"width":"6","height":"7","format":"<img ng-src=\"{{msg.payload}}\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":500,"y":340,"wires":[[]]}]